@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #acbaca;
}
.сlock {
  position: relative;
  display: flex;
  gap: 20px;
}
.сlock .digital {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c9d5e0;
}
