body
{
  background: #1d2b3a;  /*  background: #1d2b3a*/
}
/*bg #000
orange #ff9501
grey #a6a6a6
white #fdfdfd
*/

.calc{
  margin: 50px auto;
  width: 280px;
  /* height: 390px; */
/*  border: 1px solid #000; */
  border-radius: 20px;
  background:#000;
  color: #fff;
  font-family: Arial;
  padding: 18px;
  box-shadow: 40px 40px 40px #4f4f4f;
}
.calc-screen {
  height: 55px;
  padding: 10px;
  display: grid;
  justify-items: end;
  align-items: end;
  margin-bottom: 20px;
}
.calc-screen p {
text-align: right;
font-size: 3rem;
margin: 0;
}
.buttons {
  display: flex; /*grid*/
  flex-flow: wrap;
 /*grid-template-areas:
 "ac plus-minus precent devide"
 "seven eigth nine multiplication"
 "fore five six minus"
 "one two three plus"
"zero comma equals" ;
  grid-gap: 7px;*/
  justify-items: center;
  justify-content: center;
  /* gap: 25px */;
}
.btn.zero {
  grid-area: zero;
  width: 38%;
  border-radius: 30px;
}
.btn {
  width: calc(25% - 30px);
  /*width: 40px;*/
/*  height: 40px;*/
  height: calc(25% - 30px);
  margin: 15px; /* TODO: find the most preferable value*/
  background: #333;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;
}
.btn.bg-grey {
  background: #a6a6a6;
}
.btn.bg-orange {
  background: #ff9501;
}
.btn:hover {
  filter: brightness(150%);
}
.btn:active {
  filter: brightness(80%);
}

/*
.bg-grey {
  width: 40px;
  height: 40px;
  background: #a6a6a6;
  border-radius: 50%;
  line-height: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;

}
.bg-orange {
  width: 40px;
  height: 40px;
  background: #ff9501;
  border-radius: 50%;
  line-height: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;
}
*/
